unstructured[all-docs]
langchain
openai
fastapi
tiktoken
uvicorn
pymongo
faiss-cpu
fastapi
uvicorn
itsdangerous
awswrangler
html2text
faiss-cpu
pdf2image
python-dotenv
langchain-community
docx2txt
langchain_openai
streamlit
langchain_text_splitters
langchain-core